COMPOSE_nifi-hdfs/tailscale
!COMPOSE_nifi-hdfs/tailscale/.gitkeep
COMPOSE_nifi-hdfs/hdfs/namenode
!COMPOSE_nifi-hdfs/hdfs/namenode/.gitkeep
COMPOSE_nifi-hdfs/hdfs/namenode_etc
!COMPOSE_nifi-hdfs/hdfs/namenode_etc/.gitkeep
COMPOSE_nifi-hdfs/hdfs/datanode
!COMPOSE_nifi-hdfs/hdfs/datanode/.gitkeep
**/__pycache__/

