COMPOSE_nifi-hdfs/tailscale
!COMPOSE_nifi-hdfs/tailscale/.gitkeep
COMPOSE_nifi-hdfs/hdfs/namenode
!COMPOSE_nifi-hdfs/hdfs/namenode/.gitkeep
COMPOSE_nifi-hdfs/hdfs/namenode_etc
!COMPOSE_nifi-hdfs/hdfs/namenode_etc/.gitkeep
COMPOSE_nifi-hdfs/hdfs/datanode
!COMPOSE_nifi-hdfs/hdfs/datanode/.gitkeep
COMPOSE_nifi/nifi
!COMPOSE_nifi/nifi/.gitkeep
**/__pycache__

COMPOSE_kafka-cluster/kafka0_data/data
COMPOSE_kafka-cluster/kafka0_data
COMPOSE_kafka-cluster/kafka1_data/data
COMPOSE_kafka-cluster/kafka1_data
COMPOSE_kafka-cluster

COMPOSE_hbase-hive/hive_server/
COMPOSE_hbase-hive/metastore-postgresql/